*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100%;
}

body{
    background-color: rgb(223, 223, 223);
}

header, main{   
    line-height: 40px;
}

nav, main{
    background-color: white;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.check-png, .cross-png{
    width: 30px;
    vertical-align: middle;
 }

/* header logo */
header{
    background-color: white;
}

.logo{
    vertical-align: center;
}

h1{
    display: inline-block;
    font-size: 50px;
}
/* /header logo */

/* nav add task add section */
nav{
    margin-top: 50px ;
    margin-bottom:1px;
    padding: 10px 0 10px 20px;
}

.button-blue{
    color: white;
    background-color: #47ADF1;
    border-color: #47ADF1;
}

.button-white{
    color: gray;
    border-color: gray;
}

.button-blue, .button-white{
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
}
/* /nav add task add section */

/* main */
h2{
    display: inline-block;
}
/* /main */

/* section new task */
/* /section new task */

/* section today */
.editorial, .q1-goals, .recruiting, .mobile, .website, .sales{
    font-size: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.editorial{
    background-color:#45ABE9 ;
}

.q1-goals{
    background-color:#9C72E4 ;
}

.recruiting{
    background-color:#64C0A8 ;
}

.mobile{
    background-color:#F29E33 ;
}

.website{
    background-color:#D863A0 ;
}

.sales{
    background-color:#B0C926 ;
}
/* /section today */

