*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

html{
    width: 1200px;
}

.container{
    margin: 0 auto;
}

/* header logo */
.logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
}
/* /header logo */

/* nav add task add section */
nav{
    margin-top: 50px ;
    margin-bottom: 25px;
}

.button-blue{
    color: white;
    background-color: #47ADF1;
    border-color: #47ADF1;
}

.button-white{
    color: gray;
    border-color: gray;
}

.button-blue, .button-white{
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
}
/* /nav add task add section */

/* main */
h2{
    display: inline-block;
}
/* /main */

/* section new task */
/* /section new task */

/* section today */
.editorial, .q1-goals, .recruiting, .mobile, .website, .sales{
    color: white;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.editorial{
    background-color:#45ABE9 ;
}

.q1-goals{
    background-color:#9C72E4 ;
}

.recruiting{
    background-color:#64C0A8 ;
}

.mobile{
    background-color:#F29E33 ;
}

.website{
    background-color:#D863A0 ;
}

.sales{
    background-color:#B0C926 ;
}
/* /section today */

